[Unit]
Description=Step Certificates
Wants=basic.target
After=basic.target network.target

[Service]
WorkingDirectory=/root/.step
ExecStart=/usr/bin/step-ca /root/.step/config/ca.json --password-file /root/.step/secrets/intermediate_pass
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
